<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('common/head'); %>
        <script>
            window.onload = () => {
                document.getElementById("contact").classList.add("active");
            }
        </script>
</head>

<body>
    <!-- Header -->
    <header>
        <%- include('common/header'); %>
    </header>

    <!-- Navigation-->
    <div>
        <%- include('common/navigation'); %>
    </div>

    <!-- Pagination -->
    <div class="container p-0">
        <a class="btn btn-link" href="/">Home</a><span>></span>
        <a class="btn btn-link disabled" href="/contact">Contact</a>
    </div>
    <!-- Pagination -->

    <!-- jumbotron-->
    <div class="container">
        <div class="jumbotron" id="jumbo-contact">
            <h3>Contact US</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>

    <!-- Contact Form -->
    <div class="container text-center border bg-grey"
        style="padding: 300px 20px; background-image: linear-gradient(to left,white 90%, rgb(0, 200, 255));">
        <h1>Contact form here</h1>
    </div>
    <!-- Contact Form -->

    <!-- Page Footer -->
    <br>

    <footer>
        <%- include('common/footer'); %>
    </footer>

</body>

</html>