<div class="container-fluid bg-info text-white">
    <br>
    <div class="row">
        <div class="col-sm-4">
            <dl>
                <dt>About Us</dt>
                <dd>- a note here</dd>
                <dd>- a note here</dd>
                <dd>- uuuuuuuuuuu
            </dl>
        </div>
        <div class="col-sm-4">
            <dl>
                <dt>Terms</dt>
                <dd>- a note here</dd>
                <dd>- a note here</dd>
                <dd>- a note here</dd>
            </dl>
        </div>
        <div class="col-sm-4">
            <dl>
                <dt>Contact us</dt>
                <dd>- Email: ...........</dd>
                <dd>- Tel: ...............</dd>
                <dd>- .............</dd>
            </dl>
        </div>
    </div>
</div>;